<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}} - Bryggningar</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div id="header">{{.Title}} / Bryggningar</div>
  <div id="left">
    <ul>
    {{ range .MenuItems}}
    <li>
      <a href="{{.URI}}" class="menu-item {{if .Selected}}selected{{end}}">{{.Title}}</a>
      {{if .Selected}}
    {{end}}
    </li>
    {{end}}
  </ul>
  </div>
  <div id="mid">
    <div class="right">
    </div>
    <div class="mid-header">Lägg till Bryggning</div>
    <form id="addbrewing" method="POST">
      <div>
        <label>Namn</label>
        <input type="text" name="name" value="">
      </div>
      <div>
        <div>
          <label>Beskrivning</label>
        </div>
        <textarea name="description"></textarea>
      </div>
      <div>
        <div>
          <label>Ingredienser</label>
        </div>
        <textarea name="ingredients"></textarea>
      </div>
      <div>
        <div>
          <label>Noteringar</label>
        </div>
        <textarea name="notes"></textarea>
      </div>
      <div>
        <label>OG</label>
        <input type="number" name="og" value="0.052">
      </div>
      <div>
        <label>FG</label>
        <input type="number" name="fg" value="0.012">
      </div>
      <div>
          <label>IBU</label>
          <input type="number" name="ibu" value="30">
        </div>
        <div>
          <label>Bryggdag</label>
          <input type="date" name="brewingday">
        </div>
        <div class="label-right right">
          <input type="submit">
          <input type="reset">
        </div>
    </form>
  <div id="right"></div>
  <div id="footer"></div>
</body>
</html>