<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}} - Bryggningar</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div id="header">{{.Title}} / Bryggningar</div>
  <div id="left">
    <ul>
    {{ range .MenuItems}}
    <li>
      <a href="{{.URI}}" class="menu-item {{if .Selected}}selected{{end}}">{{.Title}}</a>
      {{if .Selected}}
    {{end}}
    </li>
    {{end}}
  </ul>
  </div>
  <div id="mid">
    <div class="right">
      <a href="/brewings/add" class="menu-item"><img src="/img/add.png" height="24">Ny Bryggning</a>
    </div>
  </div>
  <div id="right"></div>
  <div id="footer"></div>
</body>
</html>