<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}} - På Tapp</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div id="header">{{.Title}} / På tapp</div>
  <div id="left">
    <ul>
    {{ range .MenuItems}}
    <li>
      <a href="{{.URI}}" class="menu-item {{if .Selected}}selected{{end}}">{{.Title}}</a>
    </li>
    {{end}}
  </ul>
  </div>
  <div id="mid"></div>
  <div id="right"></div>
  <div id="footer"></div>
</body>
</html>