body {
  background-color: #EEE;
  border: none;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

label{
  width: 70%;
  margin-left: 15%;
}

.label-right{
  width: 70%;
  margin-right: 15%;
}

textarea{
  width: 70%;
  height: 200px;
  margin-left:15%;
  padding: 15px;
}
input{
  padding: 5px;
}

#header {
  position: fixed;
  height: 57px;
  line-height: 57px;
  color: #EEE;
  font-size: 1.3em;
  font-weight: bold;
  padding-left: 20px;
  width: 100%;
  background-color: #666;
  border-bottom: 3px solid rgb(200,200,200);
}

#left {
  position: fixed;
  width: 200px;
  top:60px;
  bottom:30px;
  background-color: rgb(212, 215, 212);
  border-right: 3px solid rgb(200,200,200)
}

#mid {
  position: fixed;
  left: 200px;
  right:0px;
  top:60px;
  bottom:30px;
  overflow: auto;
}

.mid-header{
  margin: 20px;
  margin-left: 15%;
  font-size: 1.3em;
  font-weight: bold;
}
#right {
  position: fixed;
  width: 0px;
  top:60px;
  bottom:30px;
  right:0px;
}
#footer {
  position: fixed;
  height: 27px;
  line-height: 27px;
  color: #EEE;
  padding-right: 20px;
  width: 100%;
  bottom: 0px;
  background-color: #666;
  border-top: 3px solid rgb(200,200,200);
}
li {
  color: #333;
}
.right{
  text-align: right;
  float: right;
  padding-right: 10px;
}

.menu-item {
  text-decoration: none;
  color: #333;
}
a img{
  vertical-align: bottom
}
.menu-item.selected{
  font-weight: bold;
}